.auth-container{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
}

.auth-container form{
  width:400px;
  background:white;
  padding:30px;
  border-radius:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.auth-container h1{
  text-align:center;
}

.auth-container input{
  padding:12px;
}

.auth-container button{
  padding:12px;
  border:none;
  cursor:pointer;
  background:#8b5cf6;
  color:white;
  border-radius:10px;
}